{% extends "pages/base.html" %}

{% block title %}Sobre - Athena{% endblock %}

{% block hero_content %}
<!-- Área personalizada para about -->
<div class="container px-4 px-lg-5 text-center" style="padding: 100px 0;">
    <h1 class="text-white">Athena</h1>
    <p class="text-white-50">Seus contratos em um único lugar.</p>
</div>
{% endblock %}

{% block about_content %}
{% endblock %}

{% block about_image %}
{% endblock %}

{% block projects_content %}{% endblock %}
{% block contact_content %}{% endblock %}