
class DashboardView(LoginRequiredMixin, TemplateView):
    template_name = 'pages/dashboard.html'
    
    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        if self.request.user.is_authenticated:
            context.update({
                'total_persons': Person.objects.filter(usuario=self.request.user).count(),
                'total_companies': Company.objects.filter(usuario=self.request.user).count(),
                'recent_consents': Person.objects.filter(usuario=self.request.user).order_by('-consent_date')[:5],
            })
        return context

<!-- Deploy: 2025-11-05 17:51:03 -->

<!-- Deploy: 2025-11-06 00:04:16 -->
